# Copy this file to .devcontainer/.env and adjust the values for your machine.
LOG_LEVEL="INFO"
LOG_FORMAT="text"
DATA_PATH_HOST="../shared_folder/data"
DATA_PATH_DOCKER="/mnt/data"
GH_TOKEN_PPB="<YOUR_GITHUB_PERSONAL_ACCESS_TOKEN_FOR_THIS_REPO>"
